//Цвета
$background-color: #067cb6;
$menu-link-color: #2086bc;
$white: #fff;
$yellow:yellow;
$black: black;
$orange:#fa7f01;
$grey:#43484C;
$marine:#02e7fc;
$brown: #711300;

//Шрифты
$font-family:"Roboto", sans-serif;
$font-size: 16px;