//Цвета
$background-color: #067cb6;
$menu-link-color: #2086bc;

$white: #fff;
$yellow:yellow;
$black: black;
$blue:#1a88c1;
$orange:#fa7f01;
$grey:#43484C;
$marine:#02e7fc;
$brown: #711300;
$violet:#6a059e;
// Блок родителя
//Отец
$title_father_bg:#1791c1;
$cover_father_gr:#46a1c9;
$button_father_color: #239dc8;
//Мать
$title_mather_bg:#c03e98;
$cover_mather_gr:#e92c90;
$button_mather_color: #e92c90;
//Шрифты
$font-family:"Roboto", sans-serif;
$font-size: 16px;