@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#nav{
  background-color: $white;
  @include shadow_block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;

  .wrap_menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;

    .logo_icon{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 44px;
        height: 44px;
      }
    }

    ul{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;
      li{
        margin-right: 20px;
        padding: 5px;

        a{
          text-decoration: none;
          text-transform: uppercase;
          color: $black;
          font-size:18px;
          font-family: RobotoRegular, sans-serif;
        }

        &:hover{
          span{
            background-color: $blue;
          }
          a{
            color:$blue;
          }
        }
        &.active{
          a{
            color: $blue;
          }
          span{
            display: block;
            height: 4px;
            width: 100%;
            background-color: $blue;
            transition: all .5s;
          }
        }
        span{
          display: block;
          @include shadow_block;
          height: 4px;
          width: 100%;
          transition: all .5s;
        }
      }
    }
    .phone{
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 5px;

      i{
        margin-right: 10px;
        color: $blue;
        @include shadow_text;
      }
      span{
        @include shadow_text;
        color: $black;
        font-size: 20px;
      }
    }

    .callback{
      @include flex-center;
      margin-left: 5px;
      padding: 5px;
      background-color: $orange;
      border: 1px solid $white;
      border-radius: 5px;
      @include shadow_block;
      @include shadow_text;

      &:hover{
        border: 1px solid $yellow;
      }

      a{
        display: block;
        color: $white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;

        &:hover{
          color: $yellow;
        }
      }
    }
  }
}











