@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#pupies {

  background-color: $background-color;
  min-height: 200px;

  .wrap_pupies {

    h2 {
      @include clear;
      padding-top: 50px;
      margin-bottom: 50px;
      font-family: "Roboto Slab", sans-serif;
      font-weight: bold;
      font-size: 42px;
      text-align: center;
      color: $white;
      @include shadow_text;
      z-index: 50;
    }

    .puppy {
      margin: 10px;
      margin-bottom: 40px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background: linear-gradient(to top, #067CB6, #7fc1de);

      .wrap_slider {
        width: 50%;
        height: 350px;
        @include shadow_block;

        .carousel-inner {

          .item {
            background-color: $white;
            border: 1px solid $blue;
            width: 100%;
            img {
              padding: 10px;
              width: 100%;
              max-height: 350px;
            }
          }
        }
        .carousel-control{
          //position: absolute;
          height: 50px;
          width: 50px;
          top: 82%;
          //bottom: 0;
          &.left{
            @include flex-center;
            position: absolute;
            right: 0;
            left: 80%;
          }
          &.right{
            right: 12px;
          }
        }
      }

      .content_puppy {
        width: 50%;
        margin-top: 0;
        margin-right: auto;
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        .title {
          padding: 5px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          height: 40px;
          justify-content: space-between;
          @include shadow_block;

          &.boy{
            background-color: $background-color;
          }

          &.girl{
            background-color: $title_mather_bg;

            i {
              color: $button_mather_color;
              font-size: 80px;
              transform: rotate(45deg);
              margin-top: 24px;
              @include shadow_text;
              //-webkit-text-stroke: 1px $white;
            }
          }

          h3 {
            @include clear;
            color: $white;
            font-family: "Roboto Slab", sans-serif;
            padding-left: 10px;
            @include shadow_text;
            font-size: 24px;

          }
          i {
            color: $marine;
            font-size: 80px;
            transform: rotate(180deg);
            margin-top: 20px;
            @include shadow_text;
            //-webkit-text-stroke: 1px $white;
          }
        }

        .text {
          margin-left: 20px;
          margin-bottom: 20px;
          color: $white;
          @include shadow_text;
          //min-height: 200px;
          //max-height: 250px;
          height: 200px;
          overflow: hidden;
        }

        a{
          color: $white;
          text-decoration: none;

          &.button{
            font-family: "Roboto Slab", sans-serif;
            text-align: center;
            padding: 5px 10px;
            background-color: $background-color;
            width: 120px;
            margin-left: 20px;
            border: 1px solid $white;
            border-radius: 3px;
            @include shadow_block;

            &.girl{
              background-color: $button_mather_color;
            }

            &:hover{
              color: $yellow;
              border: 1px solid $yellow;
            }
          }
        }

        .lock{
          font-family: "Roboto Slab", sans-serif;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-left: 20px;
          padding: 5px 10px;
          background-color: $green;
          width: 170px;
          border: 1px solid $white;
          border-radius: 3px;
          @include shadow_block;
          @include shadow_text;

          i{
            color: $white;
            font-size: 26px;
            @include shadow_text;
          }
          span{
            color: $white;
            //font-size: 24px;
            text-transform: uppercase;
          }
        }

        .reserve{
          font-family: "Roboto Slab", sans-serif;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-left: 20px;
          padding: 5px 10px;
          background-color: $orange;
          width: 170px;
          border: 1px solid $white;
          border-radius: 3px;
          @include shadow_block;
          @include shadow_text;

          i{
            color: $white;
            font-size: 26px;
            @include shadow_text;
          }
          span{
            color: $white;
            //font-size: 24px;
            text-transform: uppercase;
          }
        }

      }
    }

  }

  .wrap_garanty{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .garanty{
      @include flex-center;

      img {
        width: 300px;
      }
    }
    .garanty_text{
      padding: 20px;
      background-color: $white;
      @include shadow_block;
      @include shadow_text;
      border: 4px dashed $orange;
    }
  }
}